In [ ]:
import numpy as np         # библиотека для матриц и математики
import pandas as pd        # библиотека для работы с табличками
from scipy import stats    # модуль для работы со статистикой

# библиотеки для визуализации
import matplotlib.pyplot as plt
import seaborn as sns

import math

from statsmodels.stats.weightstats import ztest as ztest

plt.style.use('ggplot')    # стиль графиков

%matplotlib inline
#A4 A20

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Study MePHI/сем5/matstat/HW/data_matstat_K5.xls", sheet_name="A - aaup")

In [ ]:
6 + 207 + 525 + 174 + 152 + 9

1073

In [ ]:
#эмпирическая таблица
confusion_mx = pd.crosstab(df.A4, df.A20)
confusion_mx

A20    N    Y
A4
I      6  174
IIA  207  152
IIB  525    9

In [ ]:
#теоретическая таблица
arr = confusion_mx.to_numpy()

k = len(arr)
l = len(arr[0])

n = 0
for i in range(0, len(arr)):
  for j in range(0, len(arr[i])):
    n += arr[i][j]

m = []

for i in range(0, len(arr)):
  m_line = []
  for j in range(0, len(arr[i])):
    
    x1 = 0
    for i1 in range(0, len(arr[i])):
      x1 += arr[i][i1]
    x2 = 0
    for i2 in range(0, len(arr)):
      x2 += arr[i2][j]
    
    m_line.append((x1*x2)/n)
  m.append(m_line)

print("Tеоретическая таблица:")
m

Tеоретическая таблица:

[[123.80242311276794, 56.19757688723206],
 [246.9170549860205, 112.0829450139795],
 [367.28052190121156, 166.71947809878844]]

In [ ]:
#Проверить статистические гипотезы
z = 0

for i in range(0, len(arr)):
  for j in range(0, len(arr[i])):
    z += ((arr[i][j] - m[i][j])**2) / m[i][j]

f_z_chi =  stats.chi2((k-1)*(l-1)).cdf(z)
p_value = 2 * min(f_z_chi, 1 - f_z_chi)

critical_point = stats.chi2((k-1)*(l-1)).ppf(0.95)

print("Test: z = %.3f; p-value = %.3f" % (z, p_value))
print(critical_point)

Test: z = 596.636; p-value = 0.000
5.991464547107979