In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_excel('/content/data_matstat_K5.xlsx', sheet_name= 'D - homedat')['D7'].to_numpy()
df2 = pd.read_excel('/content/data_matstat_K5.xlsx', sheet_name= 'D - homedat')['D3'].to_numpy()

In [ ]:
#Число вариантов факторного признака 
unique = len(set(df1))
print(unique)
print(set(df1))

3
{'north', 'other', 'south'}

In [ ]:
#Объёмы выборок 
print(len(df1))
print(len(df2))
n = len(df1)

117
117

In [ ]:
n1 = df1.tolist().count('north')
n2 = df1.tolist().count('south')
n3 = df1.tolist().count('other')
print(n1)
print(n2)
print(n3)

41
45
31

In [ ]:
# групповые средние
mean_north = 0
mean_south = 0
mean_other = 0
for i in range(n):
  if df1[i] == 'north':
    mean_north+= df2[i] / n1
  if df1[i] == 'south':
    mean_south+= df2[i] / n2
  if df1[i] == 'other':
    mean_other+= df2[i] / n3
print (mean_north, mean_south, mean_other)

1462.609756097561 1125.3555555555552 1189.1612903225807

In [ ]:
# групповые дисперсии
disp_north = 0
disp_south = 0
disp_other = 0
for i in range(n):
  if df1[i] == 'north':
    disp_north+= ((df2[i] - mean_north)**2) / n1
  if df1[i] == 'south':
    disp_south+= ((df2[i] - mean_south)**2) / n2
  if df1[i] == 'other':
    disp_other+= ((df2[i] - mean_other)**2) / n3
print (disp_north, disp_south, disp_other)

179213.1160023795 88750.62913580245 113448.65140478668

In [ ]:
k = 3

In [ ]:
M = np.mean(df2)
print(M)
D = np.var(df2)
print(D)

1260.4444444444443
149682.5033238367

In [ ]:
#показатели вариации
Db = (n1 * (mean_north - M)**2 + n2 * (mean_south - M)**2 + n3 * (mean_other - M)**2) / n 
print(Db)
Dw = (n1 * disp_north + n2 * disp_south + n3 * disp_other) / n
print(Dw)
D = Dw + Db
print(D)

22687.424172066974
126995.07915176972
149682.5033238367

In [ ]:
#их несмещённая оценка
Db_mark = n * Db /(k -1) 
print(Db_mark)
Dw_mark = n * Dw /(n -k) 
print(Dw_mark)
D_mark = n * D /(n - 1) 
print(D_mark)

1327214.314065918
130337.05491892155
150972.8697318008

In [ ]:
#эмпирический коэффициент детерминизации и эмпирическое корреляционное отношение
ecd = Db / D
ecr = ecd ** 0.5
print(ecd)
print(ecr)

0.15157031495513504
0.3893203243540402

In [ ]:
# подсчёт статистики и вероятности
from scipy import stats as st
f = (Db / (k - 1))/(Dw / (n - k))
print(f)
p_value = st.f( k - 1, n - k).sf(f)
print(p_value)

10.182939263830496
8.533039424684829e-05